/*!
Twenty Nineteen Customizer Styles & Non-latin Font Fallbacks

NOTE: This file is automatically populated with additional styles if the user selects a custom primary color in the customzier.
*/

/** === Includes === */

@import "sass/mixins/mixins-master";

/** === Non-Latin font fallbacks === */

@include non-latin-fonts( '.wp-block' );

.wp-block-file {
  &.wp-block-file--boxed {
    &__button {
      display: inline-block;
      margin-left: .75em;
      background: #32373c;
      border-radius: 2em;
      color: #fff;
      font-size: 13px;
      padding: .5em 1em;
    }
  }
}

.wp-block-columns.has-1-columns {
  .editor-inner-blocks>.editor-block-list__layout>[data-type="core/column"] { flex-basis: 100%; }
}
