// Site header

.site-top-header {
	position: relative;
	background-color: $color__background-button;
	z-index: 10;

	// widget rewrites and styles
	.widget-title { display: none; }
	.widget { margin: 0; }
	.widget.widget_polylang {
		ul {
			list-style-type: none;
			display: flex;
			margin: 0;
			padding: 0;
		}
		a {
			display: block;
			color: #FFF;
			height: 100%;
			width: 100%;
			line-height: 22px;
			font-size: $font__size-xs;
		}
		.lang-item {
			//display: flex;
			align-items: center;
			justify-content: center;
			width: 1.3rem;
			height: 1.3rem;
			border: 1px solid #FFF;
			margin-left: 0.2rem;
			text-align: center;
			&:hover,
			&.current-lang { background-color: #233e90; }
		}
	}

	&__left { }
	&__right {
		margin: auto 0 auto auto;
		display: flex;
		align-items: center;
	}
}

.site-header {
	//padding: 1em;

	.site-branding-container { border-bottom: 1px solid $color__background-hr; }
	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 90vh;

		.site-branding-container {
			margin-bottom: auto;
		}
	}

	@include media(tablet) {
		margin: 0;
		//padding: 3rem 0;

		&.featured-image {
			min-height: 100vh;
			margin-bottom: 3rem;
		}
	}
}

// Site branding

.site-branding {
	display: flex;
	color: $color__text-light;

	margin: 0 $size__spacing-unit;
	@include media(tablet) { margin: 0 $size__site-margins; }
	@include max-width-site;

	&--top-header {
		align-items: center;
		padding: 0.3rem 0rem;
		color: #FFF;
		font-size: $font__size-xs;
		line-height: $font__size-xs;
	}
	&--header {
		padding: 1.5rem 0rem;
	}
	.main-navigation {
		align-self: center;
		margin: auto 0 auto auto;
	}

	//position: relative;
}

// Site logo

.site-logo {

	/*position: relative;
	z-index: 999;*/
	//display: inline-block;
	//margin-bottom: calc(.66 * #{$size__spacing-unit});

	/*@include media(tablet) {
		margin-bottom: 0;
		position: absolute;
		right: calc(100% + (1.25 * #{$size__spacing-unit}));
		top: 4px; // Accounts for box-shadow widths
		z-index: 999;
	}*/

	.custom-logo-link {
		/*border-radius: 100%;
		box-sizing: content-box;
		width: 50px;
		height: 50px;
		overflow: hidden;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transition: box-shadow $background_transition ease-in-out;*/
		display: block;
		max-width: 150px;

		@include media(tablet) { max-width: 100px; }

		.custom-logo {
			min-height: inherit;
		}

		/*&:hover,
		&:active,
		&:focus { box-shadow: 0 0 0 2px rgba(0, 0, 0, 1); }*/

		@include media(tablet) {
			/*width: 64px;
			height: 64px;*/
			max-width: 250px;
		}
	}
}

// Site title

.site-title {
	margin: auto;
	display: inline;
	color: $color__text-main;

	a {
		color: $color__text-main;

		&:link,
		&:visited {
			color: $color__text-main;
		}

		&:hover {
			color: $color__text-hover;
		}
	}

	.featured-image & {
		margin: 0;

		@include media(tablet) {
			display: inline-block;
		}
	}

	/* When there is no description set, make sure navigation appears below title. */
	+ .main-navigation {
		display: block;
	}

	@include media(tablet) {
		display: inline;
	}

	&:not(:empty) + .site-description:not(:empty):before {
		content: "\2014";
		margin: 0 .2em;
	}
}

// Site description

.site-description {
	display: inline;
	color: $color__text-light;
	font-weight: normal;
	margin: 0;
}
