
@font-face {
	@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500,700');
	font-family: 'Roboto Condensed', sans-serif;
}

// Font and typographic variables

$font__body: 'Roboto', sans-serif;
$font__heading: 'Roboto Condensed', sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: 18px;
$font__size-ratio: 1.125;

$font__size-xxs:   1em / (1.5 * $font__size-ratio);
$font__size-xs:    1em / (1.25 * $font__size-ratio);
$font__size-sm:    1em / (1 * $font__size-ratio);
$font__size-md:    1em * (1 * $font__size-ratio);
$font__size-lg:    1em * (1.5 * $font__size-ratio);
$font__size-xl:    1em * (2 * $font__size-ratio);
$font__size-xxl:   1em * (2.5 * $font__size-ratio);
$font__size-xxxl:  1em * (3 * $font__size-ratio);

$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;
