/** === Footer menu === */

.footer-navigation {
	margin: 0;
	display: inline;
	@include media(tablet) { margin: auto 0 auto auto; }

	& > div {	display: inline; }

	.footer-menu {
		display: inline;
		padding-left: 0;

		li {
			display: inline;
			margin-right: 0.5rem;
		}
	}

}
