/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

////////////////////////////////////////////////////////////////////
// Main menu
//
#mega-menu-wrap-menu-1 .mega-menu-toggle { border-radius: 0; }
.mega-menu-wrap {
  .mega-mobile-parent-nav-menu-item { display: none; }
  .mega-menu .mega-menu-item {
    &:last-child { margin-right: 0 !important; }
  }
  .mega-toggle-label { margin: 0 0 0 6px; }
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link { line-height: 20px; }

////////////////////////////////////////////////////////////////////
// Top Header menu
//
#mega-menu-wrap-header {
  #mega-menu-header {
    margin-left: 5px;
    li.mega-menu-item-has-children > a.mega-menu-link::after,
    li.mega-menu-item-has-children > a.mega-menu-link span.mega-indicator::after { margin: 0 0 0 2px; }
  }
}

////////////////////////////////////////////////////////////////////
// Sites menu
//
/*#mega-menu-wrap-sites #mega-menu-sites li.menu-item--scuola-europea a.mega-menu-link {
  color: #FFF;
  border-color: $color__background-button;
  background-color: $color__background-button;
}*/
#mega-menu-wrap-sites {
  .mega-menu-toggle .mega-toggle-blocks-right .mega-toggle-block { margin-right: 0; }
  #mega-menu-sites {
    @include media(desktop) {
      li.mega-menu-item {
        a { @include custom-transition(0.3s); }
        &.menu-item--selected a {
          //border-color: $color__background-button;
          background-color: transparent;
        }
        &--scuola-europea {
          a.mega-menu-link {
            color: #FFF;
            border-color: $color__background-button;
            background-color: $color__background-button;
            &:hover {
              border-color: $color__background-button;
              color: $color__background-button;
              background-color: transparent;
            }
          }
        }
        &--ciclo-materno {
          a.mega-menu-link {
            color: #FFF;
            border-color: $color_nursery;
            background-color: $color_nursery;
            &:hover {
              color: $color_nursery;
              border-color: $color_nursery;
              background-color: transparent;
            }
          }
        }
        &--ciclo-primario {
          a.mega-menu-link {
            color: #FFF;
            border-color: $color_primary;
            background-color: $color_primary;
            &:hover {
              color: $color_primary;
              border-color: $color_primary;
              background-color: transparent;
            }
          }
        }
        &--ciclo-secondario {
          a.mega-menu-link {
            color: #FFF;
            border-color: $color_secondary;
            background-color: $color_secondary;
            &:hover {
              color: $color_secondary;
              border-color: $color_secondary;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

/*.sites-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;

  @include media(tablet) { display: flex; }

  .menu-item {
    margin: 0.1rem 0.2rem 0 0;
    font-size: $font__size-sm;
    a {
      //color: $color__background-button;
      //border-color: $color__background-button;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      padding: 0.3rem;
      line-height: 12px;
      font-size: $font__size-xs;
      height: 100%;
      width: 100%;
      display: block;

      @include custom-transition(0.2s);
    }
    &:hover {
      a {
        //color: #FFF;
        border-width: 1px;
        border-style: solid;
      }
    }
  }
}*/
//@import "menu-main-navigation";
//@import "menu-social-navigation";
@import "menu-footer-navigation";

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
@import "next-previous";
