/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-branding.site-sticky {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
}

////////////////////////////////////////////////////////////////////
// Main menu
//
#mega-menu-wrap-menu-1 .mega-menu-toggle { border-radius: 0; }
.mega-menu-wrap {
  .mega-mobile-parent-nav-menu-item { display: none; }
  .mega-menu .mega-menu-item {
    &:last-child { margin-right: 0 !important; }
  }
  .mega-toggle-label { margin: 0 0 0 6px; }
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link { line-height: 20px; }

////////////////////////////////////////////////////////////////////
// Top Header menu
//
#mega-menu-wrap-header {
  #mega-menu-header {
    margin-left: 5px;
    li.mega-menu-item-has-children > a.mega-menu-link::after,
    li.mega-menu-item-has-children > a.mega-menu-link span.mega-indicator::after { margin: 0 0 0 2px; }
  }
}

////////////////////////////////////////////////////////////////////
// Sites menu
//
.sites-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  @include media(tablet) { display: flex; }

  .menu-item {
    margin: 0.1rem 0.2rem 0 0;
    font-size: $font__size-xs;
    a {
      //color: $color__background-button;
      //border-color: $color__background-button;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      padding: 0.3rem;
      line-height: 12px;
      font-size: $font__size-xs;
      height: 100%;
      width: 100%;
      display: block;

      @include custom-transition(0.2s);
    }
    &:hover {
      a {
        color: #FFF;
        border-width: 1px;
        border-style: solid;
      }
    }

    &.menu-item--selected a {
      color: #FFF;
      border-color: $color__background-button;
      background-color: $color__background-button;
    }
    &--scuola-europea {
      a:hover {
        border-color: $color__background-button;
        background-color: $color__background-button;
      }
    }
    /*&--scuola-europea.menu-item--selected {
      a {
        color: #FFF;
        background-color: $color__background-button;
      }
    }*/
    &--ciclo-materno {
      a:hover {
        border-color: #A89700;
        background-color: #A89700;
      }
    }
    &--ciclo-primario {
      a:hover {
        border-color: #F90;
        background-color: #F90;
      }
    }
    &--ciclo-secondario {
      a:hover {
        border-color: #2dbc7a;
        background-color: #2dbc7a;
      }
    }
  }
}

//@import "menu-main-navigation";
//@import "menu-social-navigation";
@import "menu-footer-navigation";

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
@import "next-previous";
