/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-branding.site-sticky {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
}

////////////////////////////////////////////////////////////////////
// Main menu
//
#mega-menu-wrap-menu-1 .mega-menu-toggle { border-radius: 0; }
.mega-menu-wrap {
  .mega-mobile-parent-nav-menu-item { display: none; }
  .mega-menu .mega-menu-item {
    &:last-child { margin-right: 0 !important; }
  }
  .mega-toggle-label { margin: 0 0 0 6px; }
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link { line-height: 20px; }

////////////////////////////////////////////////////////////////////
// Top Header menu
//
#mega-menu-wrap-header {
  #mega-menu-header {
    margin-right: 5px;
    li.mega-menu-item-has-children > a.mega-menu-link::after,
    li.mega-menu-item-has-children > a.mega-menu-link span.mega-indicator::after { margin: 0 0 0 2px; }
  }
}

////////////////////////////////////////////////////////////////////
// Sites menu
//
.sites-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;

  .menu-item {
    border: 1px solid #CCC;
    height: 1.3rem;
    margin: 0.1rem 0.2rem 0 0;
    //background-color: #233e90;

    &--selected { background-color: #233e90; }

    &--scuola-europea {
      //background-color: $color__background-button;
      //border: 1px solid #232b38;
    }
    &--ciclo-materno {
      //border: 1px solid #A89700;
      &:hover { background-color: #A89700; }
    }
    &--ciclo-primario {
      //border: 1px solid #F90;
      &:hover { background-color: #F90; }
    }
    &--ciclo-secondario {
      //border: 1px solid #2dbc7a;
      &:hover { background-color: #2dbc7a; }
    }

    a {
      padding: 0 0.3rem;
      color: #FFF;
      line-height: 22px;
			font-size: $font__size-sm;
      height: 100%;
			width: 100%;
      display: block;
    }
  }
}

//@import "menu-main-navigation";
//@import "menu-social-navigation";
@import "menu-footer-navigation";

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
@import "next-previous";
